<div class="boutique-grid">


   <!-- Tables section -->
   <div class="py-4 min-h-large max-h-large w-full overflow-y-auto overflow-x-hidden text-center grid grid-cols-3 gap-2 px-2">
    <div (click) = "changeTable('P1')" class="relative inline-block w-24 h-24 my-2 rounded-lg active:translate-y-1 transition duration-200 bg-secondary">
      <!-- <div>
        <img class="block w-8 h-8 mx-auto" src="http://localhost:8000/media/e781ffa83cc7959f4d025c1e24e786e7.svg" alt="">
      </div> -->
      <div class="absolute top-8 left-0 right-0 m-auto text-center text-lg text-five">Passager 1</div>
    </div>  
    <div (click) = "changeTable('P2')" class="relative inline-block  w-24 h-24 my-2 rounded-lg active:translate-y-1 transition duration-200 bg-secondary">
      <!-- <div>
        <img class="block w-8 h-8 mx-auto" src="http://localhost:8000/media/e781ffa83cc7959f4d025c1e24e786e7.svg" alt="">
      </div> -->
      <div class="absolute top-8 left-0 right-0 m-auto  text-center text-lg text-five">Passager 2</div>
    </div>  
    <div (click) = "changeTable('P3')" class="relative inline-block w-24 h-24 my-2 rounded-lg active:translate-y-1 transition duration-200 bg-secondary">
      <!-- <div>
        <img class="block w-8 h-8 mx-auto" src="http://localhost:8000/media/e781ffa83cc7959f4d025c1e24e786e7.svg" alt="">
      </div> -->
      <div class="absolute top-8 left-0 right-0 m-auto text-center text-lg text-five">Passager 3</div>
    </div>  

    <div (click) = "changeTable(table.numero)" *ngFor = "let table of tables" class="inline-block w-24 h-24 px-6 py-2 my-2 rounded-lg active:translate-y-1 transition duration-200 bg-gradient-to-b from-primary to-green-900">
      <div>
        <img class="block w-8 h-8 mx-auto" src="http://localhost:8000/media/e781ffa83cc7959f4d025c1e24e786e7.svg" alt="">
      </div>
      <div class="text-center text-lg text-five">Table {{table.numero}}</div>
    </div>  
    <!-- More tables -->
  </div>

  <!-- Articles section -->

    <div class="p-4 w-full min-h-large max-h-large overflow-x-hidden overflow-y-auto">
      <div class="grid gap-y-4 grid-cols-4 gap-x-2">
        <a (click) = "sellProduct(product.id)" *ngFor = "let product of products" class="group w-full active:translate-y-1 transition duration-200">
          <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
            <img src="http://localhost:8000{{product.image}}" alt="" class="w-full h-32 object-center object-cover group-hover:opacity-75">
          </div>
          <h3 class="mt-1 text-md text-gray-700 text-center">
            {{ product.nom }}
          </h3>
          <p class="mt-1 text-md font-medium text-gray-900 text-center">
            {{ product.prix }} DA
          </p>
        </a>
        <!-- More products... -->
      </div>
    </div>
    
 


  <!-- Articles in table section -->
  <div class="text-center p-2">
    <div class="max-h-mi-screen min-h-mi-screen overflow-y-auto overflow-x-hidden">
      <div class="articles-grid bg-primary text-gray-200 rounded-t-lg p-1">
          <div>
            Table {{selectedTable}}
          </div>
          <div>
            Nom
          </div>
          <div>
            Qte
          </div>
          <div>
            Prix
          </div>
          <div>
            
          </div>
      </div>
      <div *ngFor = "let product of articlesInTable[selectedTable]" class="articles-grid px-2 py-2">
        <div>
          <img class="h-8 w-8 rounded-full" src="http://localhost:8000{{product.image}}" alt="">
        </div>
        <div class="overflow-x-hidden">
          {{product.nom | titlecase}}
        </div>
        <div>
          <span class="font-bold text-xs">{{product.quantite}}</span>
        </div>
        <div>
          <span class="bg-green-200 rounded-full p-1 font-bold text-xs">{{product.prix}}</span>
        </div>
        <div>
          <img (click) = "deleteFromTable(product.id)" class="block w-6 h-6 active:translate-y-1 duration-200" src="http://localhost:8000/media/trash-alt.svg" alt="">
        </div>
      </div>
    </div>

    <div>
      <span class="font-digital text-6xl">{{totalPrix[selectedTable] | number: "1.2-2"}}</span> DA
    </div>
    
    <div>
      <form (ngSubmit) = "confirmVente(f)" #f = "ngForm" class="my-2 text-xl text-gray-200 text-center w-full">
        <div  class="flex justify-between gap-2 my-2">
          <input name="versement" ngModel type="number" class="block w-full p-2 border border-gray-300 rounded-lg text-gray-800 focus:outline-none focus:ring-transparent" placeholder="Versement">
          <input name="remise" ngModel type="number" class="block w-full p-2 border border-gray-300 rounded-lg text-gray-800 focus:outline-none focus:ring-transparent" placeholder="Remise">
        </div>
        <div class="flex justify-between gap-2">
          <div (click) = "annulerVente()" class="py-2 w-1/2 text-xl bg-red-800 text-gray-200 rounded-md text-center active:translate-y-1 duration-200">
            <span>Annuler</span>
          </div>
          <input type="submit" class="p-2 w-1/2 block bg-primary rounded-md active:translate-y-1 duration-200" value="Confirmer">
        </div>
        
      </form>
    </div>
    

  </div>

  
</div>

<div id="pop-up" class="hidden fixed bottom-0 right-0 left-0 mx-auto text-center text-2xl pb-2 px-4 my-2 rounded-xl bg-gray-300 opacity-95">
  <span class="">Rendu : <span class="font-digital text-6xl">{{totalRendu}} </span>DA</span>
</div>